*
{ 
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body
{
    background-color: #050505;
}
.signin
{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
}
a.signinbuttoms{
    position: absolute;
    background-color: white;
    width: 120px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    top: 22px;
    font-size: 21px;
    box-shadow: 0 8px 0 orange;
    transition-duration: 0.3s;
}
a.signinbuttoms:hover{
    color: white;
    top: 30px;
    box-shadow: 0 0;
    background-color: rgb(255, 140, 0);
    transition-duration: 0.3s;
}
a.sign{
    right: 19%;
}
a.log{
    right: 10%;
}
.header
{
    position: relative;
    height: 80px;
    background-color: rgba(153, 153, 153, 0.122)
}
input.searchbox
{
    position: absolute;
    left: 3%;
    top: 17%;
    text-align: right;
    width: 28%;
    height: 60%;
    border-radius: 50px;
    font-size: 20px;
    background-color: black;
    border: none;
    padding-right: 10px;
    color: gray;
}
button
{
    position: relative;
    left: 4%;
    top: 22px;
    background-color: black;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.header ul
{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    list-style: none;
}
.header ul li
{
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    float: right;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.header ul li a
{
    text-decoration: none;
    color: orange;
    font-size: 40px;
    position: absolute;
    right: 10%;
    top: 20px;
}
p.persian1, .persian2, .persian3, .persian4
{
    color: rgba(255, 255, 255, 0.827);
    font-size: 22px;
    position: absolute;
    top: 15%;
}
p.persian1
{
    right: 38%;
}
p.persian2
{
    right: 38%;
}
p.persian3
{
    right: 39%;
}
p.persian4
{
    right: 33%;
}
p.english1, .english2, .english3, .english4
{
    color: rgb(250, 177, 7);
    font-size: 22px;
    position: absolute;
    top: 50%;
}
p.english1
{
    right: 38%;
}
p.english2
{
    right: 38%;
}
p.english3
{
    right: 39%;
}
p.english4
{
    right: 33%;
}
.header ul li a:hover
{
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
}
.slideBar
{
    width: 70%;
    height: 500px;
    margin: 40px auto 40px;
}
.mySlides
{
    display: none;
    height: 100%;
    width: 100%;
}
i.fa-heart
{
    color: red;
    position: absolute;
    right: 18%;
    bottom: 7%;
    font-size: 47px;
    z-index: 2;
}
i.fa-plus-square
{
    font-size: 22px;
    color: orange;
    position: absolute;
    right: 17.8%;
    bottom: 7.7%;
    z-index: 2;
}
i.fa-circle
{
    font-size: 53px;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 17.8%;
    bottom: 6.8%;
    z-index: 0;
}
span.slideScore
{
    position: absolute;
    bottom: 23%;
    left: 18%;
    color: orange;
    font-size: 40px;
    font-family: lato;
}
p.slideMovieScore
{
    font-family: lato;
    position: absolute;
    bottom: 23.6%;
    left: 21.8%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.fade span.filmName
{
    font-family: lato;
    font-size: 60px;
    color: white;
    position: absolute;
    bottom: 7%;
    left: 18%;
}
img#slideImdbImage
{
    width: 100px;
    height: 45px;
    position: absolute;
    bottom: 17.5%;
    left: 17.85%;
} 
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 32.8%;
    bottom: 2.3%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 111, 0);
    background-color: #353535;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    line-height: 450px;
}
.prev
{
    left: 11.9%;
    border-radius: 10px 0 0 10px;
}
.next
{
    right: 11.9%;
    border-radius: 0 10px 10px 0;
}
.prev:hover, .next:hover
{
    background-color: rgb(241, 174, 3);
}
.dot 
{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover 
{
    background-color: #717171;
}
.fade 
{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}






@font-face {
    font-family: byekan;
    src: url(fonts/Byekan.ttf);
    src: url(fonts/Byekan.woff);
}
@font-face {
    font-family: lato;
    src: url(fonts/Lato-Black.ttf);
}
@font-face {
    font-family: lalezar;
    src: url(fonts/lalezar.ttf);
}