*
{ 
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body
{
    background-color: #050505;
}
.signin
{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
}
a.signinbuttoms{
    position: absolute;
    background-color: white;
    width: 120px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    top: 22px;
    font-size: 21px;
    box-shadow: 0 8px 0 orange;
    transition-duration: 0.3s;
}
a.signinbuttoms:hover{
    color: white;
    top: 30px;
    box-shadow: 0 0;
    background-color: rgb(255, 140, 0);
    transition-duration: 0.3s;
}
a.sign{
    right: 19%;
}
a.log{
    right: 10%;
}
.header
{
    position: relative;
    height: 80px;
    background-color: rgba(153, 153, 153, 0.122)
}
input.searchbox
{
    position: absolute;
    left: 3%;
    top: 17%;
    text-align: right;
    width: 28%;
    height: 60%;
    border-radius: 50px;
    font-size: 20px;
    background-color: black;
    border: none;
    padding-right: 10px;
    color: gray;
}
button
{
    position: relative;
    left: 4%;
    top: 22px;
    background-color: black;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.header ul
{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    list-style: none;
}
.header ul li
{
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    float: right;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.header ul li a
{
    text-decoration: none;
    color: orange;
    font-size: 40px;
    position: absolute;
    right: 10%;
    top: 20px;
}
p.persian1, .persian2, .persian3, .persian4
{
    color: rgba(255, 255, 255, 0.827);
    font-size: 22px;
    position: absolute;
    top: 15%;
}
p.persian1
{
    right: 38%;
}
p.persian2
{
    right: 38%;
}
p.persian3
{
    right: 39%;
}
p.persian4
{
    right: 33%;
}
p.english1, .english2, .english3, .english4
{
    color: rgb(250, 177, 7);
    font-size: 22px;
    position: absolute;
    top: 50%;
}
p.english1
{
    right: 38%;
}
p.english2
{
    right: 38%;
}
p.english3
{
    right: 39%;
}
p.english4
{
    right: 33%;
}
.header ul li a:hover
{
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
}
.slideBar
{
    width: 70%;
    height: 500px;
    margin: 40px auto 40px;
}
.mySlides
{
    display: none;
    height: 100%;
    width: 100%;
}
i.fa-heart
{
    color: red;
    position: absolute;
    right: 18%;
    bottom: 7%;
    font-size: 47px;
    z-index: 2;
}
i.fa-plus-square
{
    font-size: 22px;
    color: orange;
    position: absolute;
    right: 17.8%;
    bottom: 7.7%;
    z-index: 2;
}
i.fa-circle
{
    font-size: 53px;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 17.8%;
    bottom: 6.8%;
    z-index: 0;
}
span.slideScore
{
    position: absolute;
    bottom: 23%;
    left: 18%;
    color: orange;
    font-size: 40px;
    font-family: lato;
}
p.slideMovieScore
{
    font-family: lato;
    position: absolute;
    bottom: 23.6%;
    left: 21.8%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.fade span.filmName
{
    font-family: lato;
    font-size: 60px;
    color: white;
    position: absolute;
    bottom: 7%;
    left: 18%;
}
img#slideImdbImage
{
    width: 100px;
    height: 45px;
    position: absolute;
    bottom: 17.5%;
    left: 17.85%;
} 
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 32.8%;
    bottom: 2.3%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 111, 0);
    background-color: #353535;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    line-height: 450px;
}
.prev
{
    left: 11.9%;
    border-radius: 10px 0 0 10px;
}
.next
{
    right: 11.9%;
    border-radius: 0 10px 10px 0;
}
.prev:hover, .next:hover
{
    background-color: rgb(241, 174, 3);
}
.dot 
{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover 
{
    background-color: #717171;
}
.fade 
{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}
body div.sorter
{
    position: relative;
    width: 70%;
    height: 200px;
    margin: 50px auto;
    border-radius: 13px;
    background-color: #242424
}
input#movieYearRange
{
    position: absolute;
    top: 24%;
    left: 3%;
    width: 20%;
}
label.yearLabel
{
    font-size: 18px;
    color: orangered;
    font-weight: bold;
}
label.firstYear
{
    position: absolute;
    left: 3%;
    top: 14%;
}
label.lastYear
{
    position: absolute;
    left: 8%;
    top: 14%;
}
input#movieScore
{
    position: absolute;
    top: 64%;
    left: 3%;
    width: 20%;
}
label.scoreLabel
{
    font-size: 18px;
    color: orangered;
    font-weight: bold;
}
label.minScore
{
    position: absolute;
    left: 3%;
    top: 55%;
}
label.maxScore
{
    position: absolute;
    left: 5%;
    top: 55%;
}
p.rangeLabel
{
    font-size: 22px;
    position: relative;
    color: white;
}
p.createYear
{
    color: gold;
    position: relative;
    left: 165px;
    top: 25px;
}
p.score
{
    color: gold;
    position: relative;
    left: 200px;
    top: 77px;
}
.submitFilterSearch
{
    position: relative;
    top: 58px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(68, 68, 68, 0.777);
    border: 0;
    border-radius: 0 0 16px 16px;
    font-size: 20px;
    padding-right: 8px;
    transition-duration: 0.8s;
}
.submitFilterSearch:hover
{
    background-color: rgb(255, 0, 0);
    transition-duration: 0.8s;
}
i.filterSearch
{
    text-align: center;
    font-size: 40px;
}
input#filterActorsSorter
{
    position: absolute;
    left: 280px;
    top: 40px;
    width: 180px;
    height: 30px;
    background-color: #141414;
    border: 0;
    color: aliceblue;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 17px;

}
label#filterActors
{
    position: absolute;
    left: 470px;
    top: 40px;
    color: gold;
    font-size: 20px;
}
select#genreFilterSorter
{
    position: absolute;
    left: 830px;
    top: 40px;
    width: 180px;
    height: 30px;
    background-color: #141414;
    border: 0;
    color: aliceblue;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: lato,sans-serif;
}
select#genreFilterSorter .genreSelectOptions
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
label#genreFilter
{
    position: absolute;
    left: 1020px;
    top: 40px;
    color: gold;
    font-size: 20px;
}
input#directorFilterSorter
{
    position: absolute;
    left: 550px;
    top: 40px;
    width: 180px;
    height: 30px;
    background-color: #141414;
    border: 0;
    color: aliceblue;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 17px;

}
label#directorFilter
{
    position: absolute;
    left: 740px;
    top: 40px;
    color: gold;
    font-size: 20px;
}
label#forAdultsText
{
    position: absolute;
    left: 740px;
    top: 140px;
    color: gold;
    font-size: 20px;
}
label#forChildrenText
{
    position: absolute;
    left: 740px;
    top: 240px;
    color: gold;
    font-size: 20px;
}
input#forAdults, #forChildren
{
    visibility: hidden;
}
.checkbox-wrapper .checkbox
{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.checkbox-wrapper label
{
    display: inline-block;
    color: gold;
    cursor: pointer;
    position: relative;
}
.checkbox-wrapper label span 
{
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper label span:before 
{
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.checkbox-wrapper label span:after
{
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.checkbox-wrapper label:hover span:before
{
    width: 5px;
    transition: width 100ms ease;
}
.checkbox-wrapper label:hover span:after 
{
    width: 10px;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper input[type=radio]
{
    display: none;
}
.checkbox-wrapper input[type=radio]:checked + label span 
{
    background-color: rgb(255, 162, 0);
    transform: scale(1.25);
}
.checkbox-wrapper input[type=radio]:checked + label span:after 
{
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper input[type=radio]:checked + label span:before 
{
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper input[type=radio]:checked + label:hover span 
{
    background-color: #333;
    transform: scale(1.25);
}
.checkbox-wrapper input[type=radio]:checked + label:hover span:after 
{
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper input[type=radio]:checked + label:hover span:before 
{
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-children
{
    position: relative;
    left: 830px;
    top: 30px;
}
.checkbox-wrapper-adults
{
    position: relative;
    left: 830px;
    top: 40px;
}
div.filminfo
{
    position: relative;
    width: 50%;
    background-color: #242424;
    margin: auto auto 2.5% 25%;
    border-radius: 10px;
    height: 450px;
}
img.filmImage
{
    position: absolute;
    right: 3%;
    top: 2%;
    transition-duration: 0.3s;
}
img.filmImage:hover
{
    box-shadow: 0 3px 5px 3px rgb(26, 255, 1),0 -3px 5px 3px rgb(251, 255, 1);
    transition-duration: 0.5s;
}
a.filmDownload
{
    color: white;
    font-size: 27px;
}
a.filmDownload p
{
    position: absolute;
    right: 34%;
    top: 4%;
    font-family: byekan;
}
a.filmDownload span
{
    position: absolute;
    right: 50.5%;
    top: 6%;
    font-family: lato, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    width: 280px;
    overflow: hidden;
    text-align: right;
}
p.filmInfoTitleTime
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 20%;
}
.filminfo i.material-icons
{
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 20px;
}
.filminfo i.clock
{
    right: 33.7%;
    top: 21.3%;
}
.filminfo .filmInfoContent
{
    position: absolute;
    color: white;
    font-size: 18px;
}
.filminfo p.time
{
    right: 46.5%;
    top: 21%;
}
.filminfo span.movieTime
{
    font-family: byekan;
    right: 42.7%;
    top: 20%;
}
.filminfo i.genre
{
    right: 33.7%;
    top: 30%;
}
.filminfo span.movieGenre
{
    font-family: lato,sans-serif;
    right: 42.3%;
    top: 29.3%;
}
p.filmInfoTitleGenre
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 28.6%;
}
.filminfo i.director
{
    font-size: 26px;
    right: 33%;
    top: 37.7%;
}
.filminfo span.movieDirector
{
    font-family: byekan;
    right: 46.8%;
    top: 38%;
}
p.filmInfoTitleDirector
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 37.6%;
}
.filminfo i.actors
{
    font-size: 26px;
    right: 33%;
    top: 47.4%;
}

.filminfo span.movieActors
{
    font-family: byekan;
    right: 46.3%;
    top: 47%;
}
p.filmInfoTitleActors
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 47%;
}
.filminfo i.country
{
    font-size: 26px;
    right: 33%;
    top: 56.3%;
}

.filminfo span.movieCountry
{
    font-family: byekan;
    right: 50.5%;
    top: 56%;
}
p.filmInfoTitleCountry
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 56%;
}
.filminfo i.year
{
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 22px;
    right: 33.5%;
    top: 65%;
}

.filminfo span.movieYear
{
    font-family: byekan;
    right: 48.8%;
    top: 64.5%;
}
p.filmInfoTitleYear
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 64.6%;
}
.filminfo i.age
{
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 24px;
    right: 33%;
    top: 73.7%;
}

.filminfo span.movieAge
{
    font-family: byekan;
    right: 46.5%;
    top: 73%;
}
p.filmInfoTitleAge
{
    font-family: byekan;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 37%;
    top: 73%;
}
p.description
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 3.4%;
    top: 82%;
    width: 700px;
    height: 70px;
    overflow: auto;
}
span.backendScore
{
    font-family: lato, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    position: absolute;
    left: 4%;
    top: 5%;
    color: orange;
}
.filminfo p.movieScore
{
    font-family: lato, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: absolute;
    font-size: 18px;
    left: 8.8%;
    top: 6.6%;
}
.line
{
    background-color: white;
    position: absolute;
    width: 9.79%;
    height: 1px;
    left: 3.4%;
    top: 12%;
}
p.votesText
{
    position: absolute;
    color: white;
    font-size: 18px;
    left: 5.3%;
    top: 16.4%;
}
.filminfo div#scorePlace
{
    position: absolute;
    left: 3.4%;
    top: 12.5%;
    width: 75px;
    height: 20px;
    text-align: center;
}
span.votes
{
    font-family: lato, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
}
i.wishListHearts
{
    color: red;
    position: relative;
    left: 3px;
    bottom: 20px;
    font-size: 40px;
    z-index: 3;
}
.paginationContainer
{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #26262600;
  position: relative;
  bottom: -20px;
}
.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(36, 36, 36);
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: orange;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 10px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.dots{
  font-size: 28px;
  cursor: default;
  margin: 0 5px;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: rgb(26, 26, 26);
  background: orange;
}
.bestTen
{
    width: 75%;
    height: 800px;
    background-color: rgba(4, 5, 60, 0.342);
    border: 5px solid orange;
    margin: auto;
    margin-top: 60px;
    position: relative;
}
div.bestTen div.movie
{
    width: 17%;
    height: 38%;
    margin: 80px 14px -20px 14px;
    display: inline-block;
    border-radius: 15px;
    transition-duration: 0.7s;
    position: relative;
}
div.bestTen div.movie:hover
{
    box-shadow: -10px -10px 10px 0 rgb(255, 0, 195),10px 10px 10px 0 rgb(0, 4, 255);
    transition-duration: 0.7s;
}
div.bestTen div.movie img
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
div.bestTen div.movie p.rateText
{
    font-family: lato;
    font-size: 26px;
    color: white;
    position: absolute;
    left: 32%;
    bottom: 2%;
    z-index: 5;
}
div.bestTen div.movie span.rate
{
    font-family: lato;
    font-size: 40px;
    color: orange;
    position: absolute;
    left: 2%;
    bottom: 1%;
    z-index: 5;
}
div.bestTen div.movie div.shadow
{
    width: 100%;
    height: 50%;
    background: linear-gradient(rgb(0, 0, 0, 0) 10%,rgba(0, 0, 0, 1));
    position: relative;
    bottom: 150px;
    border-radius: 10px;
    z-index: 3;
}
div.bestTen p#persianText
{
    font-size: 30px;
    font-family: lalezar,sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    left: 44%;
}
div.bestTen p#tenText
{
    font-size: 35px;
    font-family: lalezar,sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    right: 44%;
}
div.bestTen div.line
{
    width: 140px;
    height: 4px;
    background-color: orange;
    position: absolute;
    left: 43.75%;
    top: 45px;
}
div.footer
{
    width: 100%;
    height: 300px;
    background-image: url(images/mainpagefooter.jpg);
    background-color: rgb(40, 40, 40);
    background-size: 100% 170%;
    background-blend-mode: overlay;
    padding-top: 40px ;
    margin-top: 10px;
}
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

#social-platforms
{
  font-family: 'Roboto';
  position:relative;
  font-size:1rem;
  text-align:center;
  height:250px;
  overflow:hidden;
}
.btn
{
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden;
}
.btn:hover 
{
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}
.btn:focus 
{
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}
.btn > span,.btn-icon > i 
{
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}
.btn > span 
{
    font-family: roboto;
  padding:14px 18px 16px;
  white-space:nowrap;
  width: 150px;
  font-size: 20px;
  color:#FFF;
  background:#b8b8b8;
}
.btn:focus > span 
{
  background:#9a9a9a
}
.btn-icon > i 
{
    padding-right: 25px;
  border-radius:5px 0 0 5px;
  position:relative;
  width:50px;
  text-align:center;
  font-size:23px;
  color:rgb(255, 255, 255);
  background:#212121;
}
.btn-icon > i:after 
{
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}
.btn-icon:hover > i,.btn-icon:focus > i
{
  color:#FFF
}
.btn-icon > span 
{
  border-radius:0 5px 5px 0
}
.btn-facebook:hover > i,.btn-facebook:focus > i 
{
  color:#3b5998
}
.btn-facebook > span 
{
  background:#3b5998
}
.btn-twitter:hover > i,.btn-twitter:focus > i 
{
  color:#55acee
}
.btn-twitter > span 
{
  background:#55acee
}
.btn-googleplus:hover > i,.btn-googleplus:focus > i 
{
  color:#dd4b39
}
.btn-googleplus > span 
{
  background:#dd4b39
}
.btn-pinterest:hover > i,.btn-pinterest:focus > i 
{
  color:#cb2028
}
.btn-pinterest > span 
{
  background:#cb2028
}
.btn-linkedin:hover > i,.btn-linkedin:focus > i 
{
  color:#007bb6
}
.btn-linkedin > span 
{
  background:#007bb6
}
.footer a.gotop i
{
    color: white;
    font-size: 50px;
    position: fixed;
    background-attachment: fixed;
    right: 4%;
    bottom: 5%;
    
}




@font-face {
    font-family: byekan;
    src: url(fonts/Byekan.ttf);
    src: url(fonts/Byekan.woff);
}
@font-face {
    font-family: lato;
    src: url(fonts/Lato-Black.ttf);
}
@font-face {
    font-family: lalezar;
    src: url(fonts/lalezar.ttf);
}