*
{ 
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body
{
    background-color: #050505;
}
.signin
{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
}
a.signinbuttoms{
    position: absolute;
    background-color: white;
    width: 120px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    top: 22px;
    font-size: 21px;
    box-shadow: 0 8px 0 orange;
    transition-duration: 0.3s;
}
a.signinbuttoms:hover{
    color: white;
    top: 30px;
    box-shadow: 0 0;
    background-color: rgb(255, 140, 0);
    transition-duration: 0.3s;
}
a.sign{
    right: 19%;
}
a.log{
    right: 10%;
}