*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body
{
    background-color: #050505;
}
.signin
{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
}
.signin div.userPanel
{
    width: 220px;
    height: 70px;
    background-color: rgb(32, 32, 32);
    position: absolute;
    right: 17%;
    top: 13%;
    border-radius: 10px;
}
.signin div.userPanel img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 7.14%;
    right: 5px;
}
.signin div.userPanel span.userName
{
    font-family: lato,serif;
    font-size: 16px;
    max-width:140px ;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 5%;
    color: orange;
}
.signin div.userPanel p.welcomeText
{
    font-family: lalezar,serif;
    font-size: 16px;
    max-width:140px ;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    left: 23%;
    color: white;
}
.header
{
    position: relative;
    height: 80px;
    background-color: rgba(153, 153, 153, 0.122)
}
.header ul
{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    list-style: none;
}
.header ul li
{
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    float: right;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.header ul li a
{
    text-decoration: none;
    color: orange;
    font-size: 40px;
    position: absolute;
    right: 10%;
    top: 20px;
}
p.persian1, .persian2, .persian3, .persian4
{
    color: rgba(255, 255, 255, 0.827);
    font-size: 22px;
    position: absolute;
    top: 15%;
}
p.persian1
{
    right: 38%;
}
p.persian2
{
    right: 38%;
}
p.persian3
{
    right: 39%;
}
p.persian4
{
    right: 33%;
}
p.english1, .english2, .english3, .english4
{
    color: rgb(250, 177, 7);
    font-size: 22px;
    position: absolute;
    top: 50%;
}
p.english1
{
    right: 38%;
}
p.english2
{
    right: 38%;
}
p.english3
{
    right: 39%;
}
p.english4
{
    right: 33%;
}
.header ul li a:hover
{
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
}